# Generated folders
bin
docs
test-output
report
build
log-report

# Ant autocomplete
.ant-targets-build.xml

# OS files
.DS_Store

# NetBeans files
/nbproject/private/

# Allure reports
allure-report
target

